$mobile: '(min-width:480px)';
$tablet-p: '(min-width: 768px)';
$tablet-l: '(min-width: 992px)';
$desktop: '(min-width: 1200px)';

@mixin media ($media) {
    @media all and #{$media}{
        @content;
    }
}