body{
    font-family: 'Prompt', sans-serif;
    background-color: $light-gray;
    font-size: 18px;
    font-weight: 200;
    color: $black;
}

p{
    margin: 5px 0;
}

a{
    text-decoration: none;
    color: $black;

    &:hover{
        color: $link;
    }
}