.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-flow: column;
    width: 100%;
    margin-bottom: 3rem;
    
    
    @include media($desktop){
        flex-flow: row;
        margin-bottom: 0rem;
    }

    .info{
        font-size: 1.6rem;
    
        > .img{
            width: 2rem;
            vertical-align: middle;
            margin-right: 0.2rem;
        }
    }
}

