.contact{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;

    @include media($mobile){
        width: 100%;
        flex-direction: column;
    }
}

.contact-info{
    font-size: 16px;

    > .img{
        width: 20px;
        vertical-align: middle;
        margin-right: 2px;
    }
}