.menu{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 0rem;
    text-align: center;
    
    @include media($tablet-l){
        margin-top: 3rem;
        margin-bottom: 10rem;
    }
    
    @include media($desktop){
        width: 60%;
        margin-top: 6rem;
    }
    
    > .btn{
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: $menu;
        cursor: pointer;
        
        > .img{
            width: 2.5rem;
            margin-bottom: 0.5rem;

            path{
                transition: all ease 0.3s;
            }
            
            
            @include media($tablet-l){
                width: 3.5rem;            
            }
            
            
            @include media($desktop){
                width: 4rem;            
                margin-bottom: 1rem;
            }
        }
        
        > .txt{
            color: $menu;
            font-size: 1.6rem;
            transition: all ease 0.3s;            
        }

        &:hover{
            > .img path{
                transition: all ease 0.5s;
                fill: $primary;
            }
        
            > .txt{
                color: $primary;
                transition: all ease 0.5s;
            }
        }

        &.--select{
            > .img path{
                transition: all ease 0.5s;
                fill: $primary;
            }
        
            > .txt{
                color: $primary;
                transition: all ease 0.5s;
            }
        }
    }    
}
