.menu{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 60%;
    margin-top: 60px;
    margin-bottom: 200px;
    text-align: center;

    @include media($mobile){
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}


.button-menu{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: $menu;

    > .img{
        width: 40px;
        margin-bottom: 10px;
        transition: all ease 0.5s;

        @include media($mobile){
            width: 25px;
            margin-bottom: 5px;
        }
    }

    > .txt{
        color: $menu;
        transition: all ease 0.5s;

        @include media($mobile){
            font-size: 16px;
        }
    }
}

.button-menu.--select{
    > .img path{
        fill: $primary;
        transition: all ease 0.5s;
    }

    > .txt{
        color: $primary;
        transition: all ease 0.5s;
    }

}