.perfil{
    color: $gray;
    text-align: center;

    > .img{
        width: 250px;
        margin-bottom: 35px;
        box-shadow: 9px 31px 90px -60px #000;
        border-radius: 50%;
    }

    > .name{
        font-size: 26px;
        font-weight: 200;
    }
    
    > .job{
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }
}