.circle{
	width: 50%;
	padding: 2rem;
	box-sizing: border-box;
	text-align: center;
	
	.bar{
		position: relative;

		> .progressbar-text{
			font-weight: 600;
			font-size: 2rem;
			// color: $gray !important;
		}

	}
}