.skill{
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;

    > .name{
        margin-bottom: 0.5rem;
    }

    > .bar{
        height: 1.5rem;
        
        > .progressbar-text{
            font-size: 1rem;
        }
    }

    &.--flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    @include media($tablet-p){
        width: 350px;
    }
}
