.work{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    flex-wrap: wrap;
    
    @include media($tablet-l){
        flex-direction: row;
        margin-top: 5rem;
    }

    > a { 
        display: inline-block; 
        margin-bottom: 6rem;
        flex-basis: 100%;

        @include media($tablet-p) {
            flex-basis: 50%;
            padding: 15px;
            margin-bottom: 0;
            box-sizing: border-box;
        }
        @include media($desktop) {
            flex-basis: calc(100%/3);
            padding: 2.5rem;
        }
        
        @include media($desktop-fullhd) {
            padding: 4rem;

        }
    }
        
    .box{
        margin: auto;
        text-align: center;

        > .img{
            width: 100%;
            border: 1rem solid #fff;
            box-shadow: 0 1rem 3rem -3rem #000;
            transition: all ease 0.5s;
            border-radius: 3px;
            opacity: 0.6;
            box-sizing: border-box;

            @include media($desktop-fullhd){
                border: 1.5rem;
            }
        }
        &:hover{
            > .img{
                box-shadow: 0 0rem 3rem -2rem #000;
                opacity: 1;
                transition: all ease 0.5s;
            }
        }
    }

}
