.main{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.container{
    display: flex;    
    flex-flow: column;
    position: relative;
    padding: 15px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
    &.--perfil{
        position: fixed;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80px;
        background-color: lighten($black, 65%);
        background-image: url("../img/particle.png");
        box-shadow: 0px -20px 50px 0 black;
        z-index: 10;
        
        @include media($tablet-l){
            width: 28%;
            height: 100%;
            box-shadow: -30px 0px 50px 0 black;
        }
    }

    &.--content{
        position: relative;
        width: 100%;
        margin-left: 0;
        padding: 15px;
        padding-top: 95px;
        box-sizing: border-box;
        
        @include media($tablet-l){
            width: 72%;
            margin-left: 28%;
            padding:15px 50px;
        }
    }

    &.--bg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url("../img/particle.png");
        background-size: cover;
        height: 100vh;
        padding: 10%;
        z-index: -1;
        
        @include media($tablet-p){
            background-position: (30% 0);
            background-image: url("../img/bg.jpg");
        }
        
        @include medi($desktop){
            background-position: initial;
        }
    }
}
