.main-title{
    margin: 6rem 0 4rem 0;
    font-size: 4.2rem;
    text-align: left;
    font-weight: 500;
    color: $primary;
    
    @include media($desktop){
        text-align: center;
        font-size: 5.2rem;
    }
}